@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* page style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    max-width: 1440px;
    margin: 0 auto;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Navigation Section styles */
.navigation{
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.nav-bar{
    gap: 32px;
    align-items: center;
}
.nav-bar > li{
    list-style: none;
}
.nav-bar > li > a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-logo-title{
    font-size: 2rem;
    font-weight: 700;
    color: #111111;
}
.nav-logo{
    display: flex;
    align-items: center;
}
/* Nav links color */
.nav-inks-1{
    color: #FEA301;
}
.nav-inks-2{
    color: #01ACFD;
}
.nav-inks-3{
    color: #05D4DF;
}
.nav-inks-4{
    color: #5D58EF;
}


/* Marquee section style */
.marquee{
    padding: 20px 0;
    background-color: #FFF4DC;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Banner section style */
.banner-container{
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.orrange{
    color: #FEA301;
}
.blue{
    color: #01ACFD;
}
.banner-discription{
    font-size: 1.25rem;
    margin: 24px 0;
}
.banner-contant{
    max-width: 50%;
}

/* Standard Curriculum section style */
.curriculum-container{
    background-image: url("../assets/bg.png");
    padding: 60px 0;
    margin: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.standard-title{
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
    margin: 50px 0;
}
.card-container{
    display: flex;
    gap: 24px;
    align-items: center;
    text-align: center;
}
.card-item{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 50px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.kinder{
    border: 1px solid rgb(222, 245, 255);
}
.elementary{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 1px solid rgb(255, 244, 220);
}
.middle{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 1px solid rgb(238, 225, 255);
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
}
.card-discription{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}
.read-more{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}



/* Shered Style */
.disply-flex{
    display: flex;
    color: #111111;
}
.btn-secoundary{
    background-color: black;
    padding: 10px 25px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.btn-primary{
    padding: 10px 30px;
    background-color: #FEA301;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.sky-blue{
    color: #64C8FF;
}
.yeallow{
    color: #F0AA00;
}
.perple{
    color: #8700FF;
}


/* hidden disply */
.display-hidden{
    display: none !important;
}

/* Responsive for mobile */
@media screen and (max-width: 576px) {
    /* Nav section */
    .nav-logo-title,
    .nav-container,
    .btn-primary{
        display: none;
    }
    .navigation{
        border-bottom: 1px solid #FEA301;
        margin-bottom: 20px;
    }
    .display-hidden{
        display: block !important;
        margin-right: 20px;
        font-size: 2rem;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-container,
    .curriculum-container{
        margin: 20px;
    }
    .banner-contant{
        text-align: center;
        max-width: 100%;
    }
    .card-container{
        flex-direction: column;
    }
    .banner-image-container img {
        width: 100%;
    }


    /* font responsive */
    .banner-title{
        font-size: 2rem;
    }
    .banner-discription{
        font-size: 0.875rem;
    }
    .standard-title{
        font-size: 1.5rem;
    }
}